@{
    // var item = Sitecore.Context.Database.GetItem("/sitecore/content/Alexa/WebsiteSettings/LocalSetting");
    var item = Sitecore.Context.Database.GetItem("{0E20BDE8-935C-41A9-B3CC-42A33B6C76FE}");
}

<header>

    <div class="container">
        <div class="jumbotron text-white bg-primary">
            <h1 class="display-3">@Html.Sitecore().Field("HeaderTitle", item)</h1>
            <p class="lead">@Html.Sitecore().Field("HeaderSubTitle", item)</p>
        </div>
    </div>

</header>

